@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: tomato;
}
body {
    font-family: 'Nunito', sans-serif;
}
header {
    width: 100%;
    position: sticky;
    
}

.nav {
    padding: 0 1rem;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    border-bottom: 2px solid orange;
}
.logo {
    display: flex;
    align-items: center;
}
.logo i {
    font-size: 2rem;
    margin-right: 5px;
}
.search-wrapper {
    display: flex;
    position: relative;
}
.search-wrapper input {
    width: 250px;
    height: 30px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
    border-radius: 45px;
}
.search-wrapper input:focus {
    border: 1px solid orange;
}
.search-wrapper i {
    position: absolute;
    top: 7px;
    right: 10px;
}
.result-section {
    padding: 0 1rem 1rem 1rem;
    height: calc(100vh - 80px);
    margin: auto;
}
#grid {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 16px;
}
.img {
    width: 350px;
    height: 200px;
    margin: 7px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 2px;
    cursor: pointer;
}
@media only screen and (max-width:768px) {
    .img {
        flex-basis: 45%;
    }
}
@media only screen and (max-width:550px) {
    .img {
        flex-basis: 100%;
    }
}
@media only screen and (max-width:470px) {
    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: .1rem;
        padding-bottom: .3rem;
    }
    .logo {
        margin-bottom: .2rem;
    }
    
}
